body {
    background-image: url(circles-pixilart.gif);
}

.blac {
    background-color: black;
    padding: auto;
    padding-bottom: auto;
    height: 300px;
    
}

.back {
    background-color: black;
    width: 2000px;
    height: 220px;
    transform: translateY(500px);
}

.bars {
    display: flex;
    justify-content: center;
}

.heart {
    height: 70px;
    width: 70px;
}

.ubars {
    display: flex;
    flex-direction: column;
    justify-items: center;
    transform: translateY(-400px);
}

#textbox {
    font-family: "Jersey 10", sans-serif;
    display: flex;
    justify-self: center;
    align-content: end;
    height: 200px;
    width: 800px;
    background-repeat: no-repeat;
    background-image: url(Text.png);
    transform: translateY(650px);
}

#soar {
    height: 200px;
    width: 200px;
    transform: translateY(100px);
}

#collapse {
    height: 400px;
    width: 400px;
}

@keyframes doda {
    from {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-200px);
    }
   
    50% {
        transform: translateX(-800px);
    }

    to {
        transform: translateX(0px);
    }
}

.att {
    display: flex;
    justify-content: space-around;
}

#qte1, #qte2, #qte3 {
    position: fixed;
    background-size: 150px;
    height: 150px;
    width: 150px;
    visibility: hidden;
}

#option1 {
    font-size: 50px;
    color: white;
    text-align: center;
    height: 200px;
    width: 400px;
    background-image: url(option.png);
    background-size: 400px 200px;
    background-repeat: no-repeat;
}

#option2 {
    font-size: 50px;
    color: white;
    text-align: center;
    height: 200px;
    width: 400px;
    background-image: url(option.png);
    background-size: 400px 200px;
    background-repeat: no-repeat;
}

#Aura {
    rotate: 270deg;
    height: 35px;
    width: 500px;
    transform: translate(-310px, -55px);
}

progress[value] {
appearance: none;
display: flex;
  justify-content: center;
  align-items: center;
}

progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 100px;
}

progress::-webkit-progress-value {
  background-color: rgb(41, 104, 240);
  border-radius: 100px;
}