body {
    background-image: url("andromeda-pixilart.png");
    background-size: 1000px;
    color: white;
    position: initial;
    height: 1000px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.blu {
    transform: translate(148px, -835px);
}

.gta6 {
    display: flex;
    justify-content: space-between;
    transform: translateY(-900px);
    position: sticky;
}

#peep {
    font-family: "Jersey 10", sans-serif;
    font-size: large;
    position: absolute;
    width: 780px;
    transform: translateX(10px);
}

#textbox {
    display: flex;
    justify-self: center;
    height: 200px;
    width: 800px;
    background-repeat: no-repeat;
    background-image: url(Text.png);
}

#clickity {
    height: 20px;
    width: 40px;
    background-color: aqua;
    transform: translate(-96px, 165px);
    position: relative;
    visibility: visible;
}

#box {
    border: white;
    border-width: 5px;
    height: 750px;
    width: 1250px;
    background-color: black;
    display: flex;
    justify-self: center;
    
}

.boxes {
    height: 750px;
    
}

#Inventory {
    transform: translateX(-100px);
}

#Aura {
    rotate: 270deg;
    height: 35px;
    width: 500px;
    transform: translate(-310px, -55px);
}

progress[value] {
appearance: none;
display: flex;
  justify-content: center;
  align-items: center;
}

progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 100px;
}

progress::-webkit-progress-value {
  background-color: rgb(41, 104, 240);
  border-radius: 100px;
}

#choices {
    display: flex;
    justify-content: center;
    visibility: hidden;
}

#option1 {
    background-image: url(option.png);
    height: 170px;
    width: 400px;
    background-size: 400px;
    transform: translateY(-170px);
}

#option2 {
    background-image: url(option.png);
    height: 170px;
    width: 400px;
    background-size: 400px;
    transform: translateY(-170px);
}